services:
  proxy0x00:
    ports:
      - "25565:25565"
    container_name: paper-mc-proxy0x00
    image: wilkinsonk/paper-mc-proxy:1.19.4
    labels:
      - com.proxy.id=0x00
    volumes:
      - ./services/proxy/0x00:/opt/app:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      paper-mc-backend:
        ipv4_address: 172.58.132.2
      paper-mc-frontend:
        ipv4_address: 172.57.132.2

  # NGINX service used later for things like
  # web server, and server maps.
  web-proxy0x00:
    ports:
      - "80:80"
      - "443:443"
    container_name: paper-mc-web-proxy0x00
    image: nginx:stable-alpine3.17-slim
    volumes:
      - ./services/nginx/0x00/etc/:/etc/nginx/:ro
      - ./services/nginx/0x00/www:/usr/share/nginx/html:ro
      - ./services/nginx/0x00/logs:/var/log/nginx/logs:rw
    networks:
      paper-mc-backend:
        ipv4_address: 172.58.132.3

  # Servers should follow this pattern below.
  server0x00:
    ports:
      - 25575:25575
    depends_on:
      - proxy0x00
    container_name: paper-mc-server0x00
    image: wilkinsonk/paper-mc-server:1.19.4
    labels:
      # Add more labels as needed to communicate
      # the nature of each server.
      - com.server.type=survival
      - com.server.id=0x00
    volumes:
      - ./services/survival/0x00:/opt/app:rw
    environment:
      - JAVA_RUNTIME_XMX=4G
      - JAVA_RUNTIME_XMS=4G
    networks:
      paper-mc-backend:
        ipv4_address: 172.58.132.4
      paper-mc-frontend:
        ipv4_address: 172.57.132.3

networks:
  # Use for back facing applications that don't
  # need access to the outside world.
  # i.e. datbases.
  paper-mc-backend:
    ipam:
      driver: default
      config:
        - subnet: "172.58.132.0/16"
      options:
        alpha: "0"
        beta: "1"
        gamma: "2"
  # Use for front facing applications.
  # i.e. Minecraft and server proxy.
  paper-mc-frontend:
    ipam:
      driver: default
      config:
        - subnet: "172.57.132.0/16"
      options:
        alpha: "0"
        beta: "1"
        gamma: "2"
